@model ICollection<Memorial>;
@using Cemidex_BD.Data;



@{
    Random rnd = new Random();

    var min = Model.Min(m => m.IDMemorial);
    var max = Model.Max(m => m.IDMemorial);

    Layout = "_LayoutMain";

    List<int> mem = new List<int>();

    while (mem.Count < 3)
    {
        var num = rnd.Next(min, max + 1); 
        if(!mem.Contains(num)){
            mem.Add(num);
        }
    }

    List<Memorial> memselect = new List<Memorial>();

    foreach (var item in Model)
    {
        if(mem.Contains(item.IDMemorial))
        {
            memselect.Add(item);
        }
    }

}

<div class="container-carrousel">
    <div class="bd-example">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item full-screen">
                    <img src="~/img/imagem1.jpg">
                    <div class="carousel-caption">
                        <h2>Cemidex</h2>
                        <p>Um sistema feito para gerenciar o seu cemitério.</p>
                    </div>
                </div>
                <div class="carousel-item full-screen">
                    <img src="~/img/campos-de-girassois_auto_x2.jpg">
                    <div class="carousel-caption">
                        <h2>Eficiência</h2>
                        <p>O Cemidex proporciona rapidez em analisar os registros</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/cemiterio2.JPG">
                    <div class="carousel-caption">
                        <h2>Segurança</h2>
                        <p>Seus dados são armazenados em backup para garantir sua segurança</p>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="container nprecos">
    <center>
        <h3 class="argento espacamento">Nossos Preços</h3>
    </center>
    <div class="row row-cols-1 row-cols-md-2 g-4">


        <div class="col">
            <div class="sombra">
                <div class="card precosbasic pricing-head cartao">
                    <div class="card-body">
                        <div>
                            <center>
                                <br>
                                <h3 class="card-title argento cor">Cemidex Basic</h3>
                                <h1>
                                    <div>
                                        <span class="cifrao argento cor">R$</span>
                                        <span class="argento cor">50</span>
                                    </div>
                                </h1>
                                <br>
                            </center>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-body conteudo">
                        <ul class="fa-ul listapreco">
                            <li><span class="fa-li correto icone"><i class="fa-solid fa-check"></i></span>tem
                                isso</li>
                            <li><span class="fa-li correto icone"><i class="fa-solid fa-check"></i></span>tem
                                isso</li>
                            <li><span class="fa-li negado icone"><i class="fa-solid fa-close"></i></span>não tem
                                isso</li>
                            <li><span class="fa-li negado icone"><i class="fa-solid fa-close"></i></span>não tem
                                isso</li>
                        </ul>
                        <br>
                        <button id="adquirir" type="submit" class="btn btn-primary">
                            <span>Adquirir</span></button>
                    </div><br>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="sombra">
                <div class="card precosplus pricing-head cartao">
                    <div class="card-body">
                        <div>
                            <center>
                                <br>
                                <h3 class="card-title argento cor">Cemidex Plus</h3>
                                <h1>
                                    <div>
                                        <span class="cifrao argento cor">R$</span>
                                        <span class="argento cor">100</span>
                                    </div>
                                </h1>
                                <br>
                            </center>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-body conteudo">
                        <ul class="fa-ul listapreco">
                            <li><span class="fa-li correto icone"><i class="fa-solid fa-check"></i></span>tem
                                isso</li>
                            <li><span class="fa-li correto icone"><i class="fa-solid fa-check"></i></span>tem
                                isso</li>
                            <li><span class="fa-li negado icone"><i class="fa-solid fa-close"></i></span>não tem
                                isso</li>
                            <li><span class="fa-li negado icone"><i class="fa-solid fa-close"></i></span>não tem
                                isso</li>
                        </ul>
                        <br>
                        <button id="adquirir" type="submit" class="btn btn-primary">
                            <span>Adquirir</span></button>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="memorial">
    <h2 class="h2memorial">Memoriais em Destaque</h2>
    <div class="container">
        <div class="card-deck">
            @foreach (var fal in memselect)
            {
                int num = rnd.Next(1, 20);
                var x = (fal.IDFalecido).ToString("D6") + ".jpg";
                <div class="card cartao">
                    <img class="card-img-top" src="~/img/falecido/@x" alt="Card image cap">
                    <div class="card-body morto">
                        <center>
                            <h2 class="card-title">@fal.Falecido.Nome</h2>
                            <h2 class="card-title"><a class="btn btn-primary pemorto" asp-controller="Memorial"
                                asp-action="Detalhes" asp-route-id="@fal.IDFalecido" class="nomemorto">Detalhes</a>
                            </h2> 
                        </center>
                    </div>
                    <div class="card-footer pemorto">
                        <small>Atualizado a @num minutos</small>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="container contato">
    <h2 class="h2contato">Entre em Contato</h2>
    <form id="contact-form" method="post" action="contact.php" role="form">

        <div class="messages"></div>

        <div class="controls">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="form_name">Nome * </label>
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Insira seu nome"
                            required="required" data-error="Firstname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="form_lastname">Sobrenome * </label>
                        <input id="form_lastname" type="text" name="surname" class="form-control"
                            placeholder="Insira seu sobrenome" required="required" data-error="Lastname is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="form_email">Email *</label>
                        <input id="form_email" type="email" name="e-mail" class="form-control"
                            placeholder="Insira seu e-mail *" required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="form_message">Mensagem *</label>
                <textarea id="form_message" name="message" class="form-control" placeholder="Insira sua mensagem"
                    rows="4" required="required" data-error="Please, leave us a message."></textarea>
                <div class="help-block with-errors"></div>
            </div>


            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LeVNMcUAAAAALAA7uBf4hqHolXao-OZRXlOLwHX"
                    data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback">
                </div>
                <input class="form-control d-none" data-recaptcha="true" required
                    data-error="Please complete the Captcha">
                <div class="help-block with-errors"></div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <button id="adquirir" type="submit" class="btn btn-primary">
                        <span>Enviar</span></button>
                </div>
            </div>


        </div>

    </form>

</div>
<!-- /.8 -->

</div>
<!-- /.row-->

</div>
</div>

<br>