@{
    Layout="_LayoutS";
}


<div class="container sobre">
    <br>
    <h2>Sobre</h2>
    <br>
    <center>
        <span class="text-muted">
            <p class="lead objetivos">O cemidex é um sistema que tem como base um banco de dados, mas que possui
                recursos que facilitam
                a inserção e localização de dados, visando um melhor desempenho no gerenciamento e uma maior satisfação
                por parte dos clientes.</p>
        </span>
        <br>
        <h4> Desenvolvedores </h4>
        <ul>

            <table>
                <tr>
                    <td>
                        <li class="lead">
                            Raphael Figueiredo Secchin
                        </li>
                    </td>
                    <td>
                        <a class="lead" href="https://github.com/raphasec">Ver GitHub</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li class="lead">
                            Renato Ribeiro Altoé
                        </li>
                    </td>
                    <td>
                        <a class="lead" href="https://github.com/tantan479">Ver GitHub</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <li class="lead">
                            Rodrigo Lopes Neves
                        </li>
                    </td>
                    <td>
                        <a class="lead" href="https://github.com/rlneves2357">Ver GitHub</a>
                    </td>
                </tr>
            </table>
        </ul>
        <br>
        <br>
        <h2>Objetivos</h2><br>
        <p class="objetivos">
            Nosso objetivo é facilitar a vida dos gerentes de cemitério. Normalmente, os registros em um cemitério são
            feitos
            com papel e caneta, o que demanda tempo e esforço do gerente. Para resolver esse problema existe o Cemidex,
            um sistema
            100% digital que melhora e acelera todo o processo de registros.
        </p>
    </center>
</div>