@model Memorial

@{

    List<Memorial> memoriais2 = ViewBag.Memoria;
    
    var id = ViewBag.ID;

    var selectmemorial = memoriais2.Find(m => m.IDFalecido == id);

    var desc = selectmemorial.Descricao;

    List<Falecido> falecidos2 = ViewBag.Falecido;

    var selectfalecido = falecidos2.Find(f => f.IDFalecido == id);

    var nome = selectfalecido.Nome;

    var data = selectfalecido.DataNascimento;

    var dataobito = selectfalecido.DataObito;

    string x = (id).ToString("D6") + ".jpg";
}

<main role="main">
    <div class="container ctcontainer2">
        <div class="row">
            <div class="col-sm-2.5">
                <img src="~/img/falecido/@x" style="border-top-left-radius: 25px; border-bottom-left-radius: 25px;" width="475vw" height="580vh">
            </div>
            <div class="col-sm-7">
                <h1>@nome</h1>
                <div class="container ctcontainer" style="display: inline;">
                    <div class="col-md-5" style="display: inline;">
                        <h1 style="font-size: 35px;">Quem era?</h1>
                        <p class="lead">@desc</p>
                        <br><br>
                        <p style="font-size: 25px;"><i class="fa-solid fa-star"></i> @data - @dataobito <i class="fa-solid fa-cross"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>