#estadocivil {
    background-color: white;
}

#estadocivil:hover {
    background-color: #70C6FF;
}

#adquirir {
    background-color: white;
}

#adquirir:hover {
    background-color: #70C6FF;
}

#registros {
    margin: none;
}

.frase {
    color: #70C6FF;
}

.frase:hover {
    color: white;
}

h1 {
    color: #8CCFAF;
}

.argento {
    font-family: "Prata", serif;
}

.espacamento {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
    font-size: 2.375rem;
}

.btn {
    color: #70C6FF !important;
    border-color: #70C6FF !important;
}

.btn-send {
    color: #FFFFFF !important;
    border-color: #70C6FF !important;
}

.btn-outline-warning:hover {
    background-color: #70C6FF !important;
    color: #212529 !important;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration-color: blue;
}

.cor {
    color: white;
}

.btn-primary {
    color: #FFFFFF !important;
    border-color: #70C6FF !important;
}

#grad {
    background: -webkit-linear-gradient(#9FBAEB, #A3CC95, #70C6FF, #8CCFAF, #E27974);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

tbody tr:nth-child(odd) {
    background-color: #9FBAEB;
}

tbody tr:nth-child(even) {
    background-color: #70C6FF;
}

h5 {
    display: inline-block;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.container-carrousel {
    padding: 0 !important;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.my-4 {
    border: 1px solid gray;
}

.cabeca {
    padding-right: 15px !important;
    margin-right: 0% !important;
}

.navbar-brand-centered {
    position: absolute;
    left: 53%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.plus {
    background-color: #A3CC95;
}

.cardtexto {
    background-color: white;
}

.nprecos {
    padding-bottom: 40px;
}

.memorial {
    letter-spacing: 0.03em !important;
}

.rmemorial {
    display: flex !important;
    flex-wrap: wrap !important;
}

.h2memorial {
    text-align: center !important;
    padding-bottom: 80px !important;
    color: white;
}

.amemorial {
    color: white;
    text-decoration: #212529 !important;
    text-decoration-color: #212529 !important;
    position: relative;
    display: block;
    max-width: 370px;
    min-height: 370px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 30px rgb(37 42 45 / 15%);
    will-change: transform;
}

.amemorial:hover {
    color: black !important;
    text-decoration: #212529 !important;
    text-decoration-color: #212529 !important;
}

.person-poster .person-media {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.memorial {
    background-color: #343a40;
    padding-right: 0% !important;
    padding-left: 0% !important;
    padding-top: 80px !important;
    padding-bottom: 120px !important;
}

.sombra {
    box-shadow: 0 0 2em lightslategray;
}

.list-unstyled {
    text-align: right;
}

.botaoDireita {
    justify-content: right;
}

.form-inline {
    float: right !important;
    display: grid !important;
}

.morto {
    background-color: #322A26 !important;
    color: white !important;
    border: 0px !important;
}

.pemorto {
    background-color: #473b34 !important;
    color: white !important;
    border: 0px !important;
    outline: none !important;
    box-shadow: none !important;
}

.pemorto:hover {
    background-color: #2C1818 !important;
    color: white !important;
    border: 0px !important;
    outline: none !important;
    box-shadow: none !important;
}

.cartao {
    border: 0px !important;
}

.contato {
    padding-top: 30px !important;
}

.h2contato {
    text-align: center;
    padding-bottom: 20px;
}

@font-face {
    font-family: AppleGaramond;
    src: url("../AppleGaramond.ttf");
}

#estadocivil {
    background-color: white;
    transition: 0.5s;
}

#estadocivil:hover {
    background-color: #70C6FF;
}

#adquirir {
    background-color: white;
    color: #70C6FF !important;
    transition: 0.5s;
}

#adquirir:hover {
    background-color: #70C6FF;
    color: white !important;
}

#registros {
    margin: none;
}

.botoes {

    color: #70C6FF !important;
}

.botoes:hover {
    background-color: #70C6FF !important;
    color: white !important;
}

.frase {
    color: #70C6FF;

}

.frase:hover {
    color: white;
}

h1 {
    color: #8CCFAF;
    font-family: AppleGaramond;
    font-size: 60px;
}

.argento {
    font-family: "Prata", serif;
}

.espacamento {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
    font-size: 2.375rem;
}

.btn {
    color: #70C6FF !important;
    border-color: #70C6FF !important;
}

.btn-send {
    color: #FFFFFF !important;
    border-color: #70C6FF !important;
}

.btn-outline-warning:hover {
    background-color: #70C6FF !important;
    color: #212529 !important;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration-color: blue;
}

.cor {
    color: white;
}

.btn-primary {
    color: #FFFFFF !important;
    border-color: #70C6FF !important;
}

#grad {
    background: -webkit-linear-gradient(#9FBAEB, #A3CC95, #70C6FF, #8CCFAF, #E27974);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

tbody tr:nth-child(odd) {
    background-color: #9FBAEB;
}

tbody tr:nth-child(even) {
    background-color: #70C6FF;
}

h5 {
    display: inline-block;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.container-carrousel {
    padding: 0 !important;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.my-4 {
    border: 1px solid gray;
}

.cabeca {
    padding-right: 15px !important;
    margin-right: 0% !important;
}

.navbar-brand-centered {
    position: absolute;
    left: 53%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.plus {
    background-color: #A3CC95;
}

.cardtexto {
    background-color: white;
}

.nprecos {
    padding-bottom: 40px;
}

.memorial {
    letter-spacing: 0.03em !important;
}

.rmemorial {
    display: flex !important;
    flex-wrap: wrap !important;
}

.h2memorial {
    text-align: center !important;
    padding-bottom: 80px !important;
    color: white;
}

.amemorial {
    color: white;
    text-decoration: #212529 !important;
    text-decoration-color: #212529 !important;
    position: relative;
    display: block;
    max-width: 370px;
    min-height: 370px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 30px rgb(37 42 45 / 15%);
    will-change: transform;
}

.amemorial:hover {
    color: black !important;
    text-decoration: #212529 !important;
    text-decoration-color: #212529 !important;
}

.person-poster .person-media {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.memorial {
    background-color: #343a40;
    padding-right: 0% !important;
    padding-left: 0% !important;
    padding-top: 80px !important;
    padding-bottom: 120px !important;
}

.sombra {
    box-shadow: 0 0 2em lightslategray;
}

.list-unstyled {
    text-align: right;
}

.botaoDireita {
    justify-content: right;
}

.form-inline {
    float: right !important;
    display: grid !important;
}

.morto {
    background-color: #322A26 !important;
    color: white !important;
    border: 0px !important;
}

.pemorto {
    background-color: #473b34 !important;
    color: white !important;
    border: 0px !important;
    outline: none !important;
    box-shadow: none !important;
}

.cartao {
    border: 0px !important;
}

.contato {
    padding-top: 30px !important;
}

.h2contato {
    text-align: center;
    padding-bottom: 20px;
}

.form-group>.frase>button:hover {
    color: white !important;
    background-color: #212529 !important;
}

.nomemorto {
    color: white;
}

.nomemorto:hover {
    color: white;
    text-decoration: underline !important;
}

.homepage {
    text-decoration: none;
}

.homepage:hover {
    text-decoration: none;
}

.sobre {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    height: 90vh;
    margin: 30px 5vw;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 25px !important;
    width: 90% !important;
    display: inline-table !important;
    text-align: center !important;
    justify-content: center !important;
    background-color: white !important;
    max-width: fit-content;
}

.correto {
    color: #70db70;
}

.negado {
    color: #343a40;
}

.listapreco {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.footer {
    margin-top: auto !important;
    padding-top: 10px !important;
    padding-left: 15px !important;
}

.objetivos {
    font-size: large;
    width: 50%;
    text-align: center !important;
    justify-content: center !important;
    display: flex !important;
}

.conteudo {
    justify-content: center !important;
    font-size: 20px;
    text-align: center !important;
}

.icone {
    padding-left: 30% !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.ctcontainer {
    border: 1px solid rgba(0, 0, 0, .2) !important;
    border-radius: 25px !important;
    box-shadow: 0 0px 20px rgba(0, 0, 0, .2);
    width: 100% !important;
    display: block !important;
    justify-content: center !important;
    background-color: white !important;
    margin-top: 66px !important;
    margin-bottom: 25px !important;
}

.ctcontainer2 {
    border-radius: 25px !important;
    box-shadow: 0 0px 20px rgba(0, 0, 0, .2);
    width: 100% !important;
    display: block !important;
    justify-content: center !important;
    background-color: white !important;
    margin-top: 66px !important;
    margin-bottom: 25px !important;
    border: 0px !important;
    background-color: #322A26 !important;
}

.ctcontainer3 {
    border: 2px solid white !important;
    border-radius: 25px !important;
    box-shadow: 0 0px 20px rgba(0, 0, 0, .2);
    width: 100% !important;
    display: block !important;
    justify-content: center !important;
    padding: 10px !important;
}

.ctcontainer4 {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    border-radius: 25px !important;
    background-color: #322A26 !important;
}

.meiuca {
    text-align: center !important;
}

.meiucaplus {
    text-align: center !important;
    padding-left: 25% !important;
}

.memorias {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.teste:nth-child(even) {
    background-color: red;
}

.teste:nth-child(odd) {
    background-color: green;
}

label {
    cursor: crosshair !important;
}